USE [master];
GO

-- Nếu có DB cũ thì xóa
IF DB_ID('SU25PantherDB') IS NOT NULL
BEGIN
    ALTER DATABASE [SU25PantherDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [SU25PantherDB];
END
GO

-- Tạo database
CREATE DATABASE [SU25PantherDB];
GO

USE [SU25PantherDB];
GO

-- Bảng tài khoản
CREATE TABLE [dbo].[PantherAccount](
    [AccountID] INT IDENTITY(1,1) NOT NULL,
    [UserName] NVARCHAR(50) NOT NULL,
    [Password] NVARCHAR(100) NOT NULL,
    [FullName] NVARCHAR(100) NULL,
    [Email] NVARCHAR(100) NULL,
    [Phone] NVARCHAR(20) NULL,
    [RoleId] INT NOT NULL,
    CONSTRAINT PK_PantherAccount PRIMARY KEY CLUSTERED ([AccountID] ASC),
    CONSTRAINT UQ_PantherAccount_UserName UNIQUE ([UserName])
);
GO

-- Bảng loại báo đen
CREATE TABLE [dbo].[PantherType](
    [PantherTypeId] INT IDENTITY(1,1) NOT NULL,
    [PantherTypeName] NVARCHAR(100) NOT NULL,
    [Origin] NVARCHAR(100) NULL,
    [Description] NVARCHAR(255) NULL,
    CONSTRAINT PK_PantherType PRIMARY KEY CLUSTERED ([PantherTypeId] ASC)
);
GO

-- Bảng hồ sơ báo đen
CREATE TABLE [dbo].[PantherProfile](
    [PantherProfileId] INT IDENTITY(1,1) NOT NULL,
    [PantherTypeId] INT NOT NULL,
    [PantherName] NVARCHAR(100) NOT NULL,
    [Weight] DECIMAL(10,2) NULL,
    [Characteristics] NVARCHAR(255) NULL,
    [Warning] NVARCHAR(255) NULL,
    [ModifiedDate] DATETIME NULL DEFAULT (GETDATE()),
    CONSTRAINT PK_PantherProfile PRIMARY KEY CLUSTERED ([PantherProfileId] ASC),
    CONSTRAINT FK_PantherProfile_PantherType FOREIGN KEY ([PantherTypeId])
        REFERENCES [dbo].[PantherType]([PantherTypeId])
);
GO

-- DỮ LIỆU MẪU
-- Thêm loại báo đen
INSERT INTO [dbo].[PantherType] (PantherTypeName, Origin, Description)
VALUES 
(N'Black Panther', N'Africa', N'Stealthy and powerful predator'),
(N'Snow Panther', N'Siberia', N'Adapted to cold climates'),
(N'Jungle Panther', N'South America', N'Excellent climber and hunter');
GO

-- Thêm hồ sơ báo đen (tham chiếu đúng 3 loại thôi)
INSERT INTO [dbo].[PantherProfile] (PantherTypeId, PantherName, Weight, Characteristics, Warning)
VALUES
(1, N'KhanhLe', 65.0, N'Dung la cham, den la don, ba dzo day ma muc', N'khong nen ru di cafe'),
(1, N'Shadow', 85.5, N'Fast and silent hunter', N'Avoid during night patrols'),
(2, N'Frost', 90.2, N'Thick fur, thrives in snow', N'Extremely territorial'),
(3, N'Claw', 78.0, N'Agile in trees, ambush predator', N'Do not approach alone');
GO

-- Thêm tài khoản
INSERT INTO [dbo].[PantherAccount] (UserName, [Password], FullName, Email, Phone, RoleId)
VALUES
(N'admin', N'admin123', N'System Administrator', N'admin@panther.com', N'0123456789', 2),
(N'trainer01', N'train123', N'Panther Trainer', N'trainer@panther.com', N'0987654321', 3),
(N'researcher01', N'research123', N'Wildlife Researcher', N'research@panther.com', N'0112233445', 3);
GO
